@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero-img-clip {
    clip-path: polygon(67% 0, 100% 0, 100% 68%, 80% 100%, 0 100%, 32% 51%);
  }
  .hero-bg-clip {
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
  }
  .hero-img-clip-top-bottom {
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
  }
  .section-bottom-clip {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 100%);
  }
}

h1 {
  @apply text-6xl md:text-6xl lg:text-7xl leading-none lg:leading-tight font-semibold text-white font-montserrat;
}

h2,
h3 {
  @apply text-3xl md:text-4xl lg:text-6xl font-semibold text-black-main font-montserrat;
}

h4 {
  @apply text-2xl md:text-3xl lg:text-4xl font-semibold text-black-main font-montserrat;
}

h6 {
  @apply text-sm md:text-base lg:text-lg font-bold tracking-widest text-blue-main font-montserrat;
}

p {
  @apply text-black-secondary font-inter;
}
